h1, h4 {
  display: inline-block;
}

#login-dropdown-list {
  list-style: none;
}

#login-dropdown-list > .dropdown-menu {
  left: -250% !important;
}

.search-input {
  margin-bottom:10px;
}

.search-input input {
  background: none;
  outline: none;
  border:none;
  text-align:center;
  width:100%;
}

img {
  max-width:100%;
}

img.bear {
  margin-bottom:10px;
}

header {
  margin-top: 20px;
}
